/* 
    INCOM styled in 2022 
    Static styles
*/
/* Font family */
/*body {
    font-family: "Montserrat";
}*/

/* Display section */

/* Flex section */
.is-flex {
    display: flex;
}

.is-flex-wrap {
    flex-wrap: wrap;
}

.is-flex-row {
    flex-direction: row;
}

.is-flex-col {
    flex-direction: column;
}

.is-justify-start {
    justify-content: flex-start;
}

.is-justify-end {
    justify-content: flex-end;
}

.is-justify-center {
    justify-content: center;
}

.is-justify-between {
    justify-content: space-between;
}

.is-justify-around {
    justify-content: space-around;
}

.is-justify-evenly {
    justify-content: space-evenly;
}

.is-items-start {
    align-items: flex-start;
}

.is-items-end {
    align-items: flex-end;
}

.is-items-center {
    align-items: center;
}

.is-items-baseline {
    align-items: baseline;
}

.is-items-stretch {
    align-items: stretch;
}

/* Grid section */
.is-grid {
    display: grid;
}

.is-col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.is-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.is-col-4 {
    grid-template-columns: repeat(4, minmax(4, 1fr));
}

.is-col-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.is-auto-cols-auto {
    grid-auto-columns: auto;
}

.is-auto-cols-min {
    grid-auto-columns: min-content;
}

.is-auto-cols-max {
    grid-auto-columns: max-content;
}

.is-cols-fr {
    grid-auto-columns: minmax(0, 1fr)
}

.is-gap-0 {
    gap: 0;
}

.is-gap-2 {
    gap: 0.5rem;
}

.is-gap-4 {
    gap: 1rem;
}

.is-col-footer {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

/* Block */

.is-block {
    display: block;
}

.is-inline-block {
    display: inline-block;
}

/* Hidden */

.is-hidden {
    display: none;
}

/* End display section */

/* Colors */
.is-text-white {
    color: rgb(255, 255, 255);
}

.is-text-black {
    color: rgb(0, 0, 0);
}

.is-text-title {
    color: #f9f7f7;
}

.is-bg-footer {
    background-color: #0C3766;
}

.is-bg-gray-100 {
    background-color: #f1f5f9;
}

.is-bg-gray-200 {
    background-color: #e5e7eb;
}

.is-bg-gray-300 {
    background-color: #d1d5db;
}

.is-bg-gray-400 {
    background-color: #9ca3af;
}

.is-bg-gray-500 {
    background-color: #6b7280;
}

.is-bg-gray-600 {
    background-color: #4b5563;
}

.is-bg-gray-900 {
    background-color: #111827;
}

.is-bg-gray {
    background-color: #D9D9D9;
}

.is-bg-button {
    background-color: #004eea;
}

.is-bg-white {
    background-color: #FFFFFF;
}

.is-bg-icons {
    background-color: #01568d;
}

.is-bg-titles {
    background-color: #0c3766;
}

.is-bg-black {
    background-color: #000000;
}

.is-bg-white {
    background-color: #ffffff;
}

.is-bg-blue-500 {
    background-color: #3b82f6;
}

.is-bg-blue {
    background-color: #0066cc;
}

.is-bg-richBlack {
    background-color: #001219;
}

.is-bg-blueSapphire {
    background-color: #005F73;
}

.is-bg-viridianGreen {
    background-color: #0A9396
}

.is-bg-middleBlueGreen {
    background-color: #94D2BD;
}

.is-bg-mediumChampagne {
    background-color: #E9D8A6;
}

.is-bg-gamboge {
    background-color: #EE9B00;
}

.is-bg-alloyOrange {
    background-color: #CA6702;
}

.is-bg-rust {
    background-color: #BB3E03;
}

.is-bg-rufous {
    background-color: #AE2012;
}

.is-bg-rubyRed {
    background-color: #9B2226;
}

.is-opacity-0 {
    opacity: 0;
}

.is-opacity-25 {
    opacity: 0.25;
}

.is-opacity-50 {
    opacity: 50;
}

.is-opacity-75 {
    opacity: 75;
}

.is-opacity-100 {
    opacity: 1;
}

/* Padding and margin section */
.is-p-0 {
    padding: 0;
}

.is-pl-0 {
    padding-left: 0;
}

.is-pr-0 {
    padding-right: 0;
}

.is-px-0 {
    padding-left: 0;
    padding-right: 0;
}

.is-py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.is-p-1 {
    padding: 0.25rem;
}

.is-pl-1 {
    padding-left: 0.25rem;
}

.is-pr-2 {
    padding-right: 0.25rem;
}

.is-px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.is-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.is-p-2 {
    padding: 0.5rem;
}

.is-pl-2 {
    padding-left: 0.5rem;
}

.is-pr-2 {
    padding-right: 0.5rem;
}

.is-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.is-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.is-p-4 {
    padding: 1rem;
}

.is-pl-4 {
    padding-left: 1rem;
}

.is-pr-4 {
    padding-right: 1rem;
}

.is-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.is-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.is-p-8 {
    padding: 2rem;
}

.is-pl-8 {
    padding-left: 2rem;
}

.is-pr-8 {
    padding-right: 2rem;
}

.is-px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.is-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.is-m-0 {
    margin: 0;
}

.is-mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.is-mx-1 {
    margin-left: 0;
    padding-left: 0;
}

.is-my-0 {
    margin-top: 0;
    margin-bottom: 0;
}



.is-m-2 {
    margin: 0.5rem;
}

.is-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.is-my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.is-m-4 {
    margin: 1rem;
}

.is-mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.is-mx-5 {
    margin-left: 4rem;
    margin-right: 2rem;
}

.is-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.is-space-x-6 {
    margin-left: 1.5rem;
}

.is-my-5 {
    margin-top: 15vh;
}

/* Width and Height section */
.is-container {
    width: 100%;
}

.is-w-0 {
    width: 0;
}

.is-w-1 {
    width: 0.25rem;
}

.is-w-6 {
    width: 1.5rem;
}

.is-w-auto {
    width: auto;
}

.is-w-1_2 {
    width: 50%;
}

.is-w-1_3 {
    width: 33.33333%;
}

.is-w-1_4 {
    width: 25%;
}

.is-w-3_4 {
    width: 75%;
}

.is-w-1_5 {
    width: 20%;
}

.is-w-2_5 {
    width: 40%;
}

.is-w-3_5 {
    width: 60%;
}

.is-w-4_5 {
    width: 80%;
}

.is-w-full {
    width: 100%;
}

.is-w-screen {
    width: 100vh;
}

.is-w-min {
    width: min-content;
}

.is-w-max {
    width: max-content;
}

.is-w-fit {
    width: fit-content;
}

.is-max-w-full {
    max-width: 100%;
}

.is-h-6 {
    height: 1.5rem;
}

.is-h-8 {
    height: 2rem;
}

.is-h-full {
    height: 100%;
}

/* Font family */
.is-font-light {
    font-weight: 300;
}

.is-font-normal {
    font-weight: 400;
}

.is-font-medium {
    font-weight: 500;
}

.is-font-semibold {
    font-weight: 600;
}

.is-font-bold {
    font-weight: 700;
}

.is-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.is-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}

.is-text-base {
    font-size: 1rem;
    line-height: 1.75rem;
}

.is-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.is-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.is-italic {
    font-style: italic;
}

.is-non-italic {
    font-style: normal;
}

.is-text-center {
    text-align: center;
}

.is-resize-none {
    resize: none;
}

/* Borders */
.is-border {
    border-width: 1px;
    border-style: solid;
}

.is-border-2 {
    border-width: 2px;
    border-style: solid;
}

.is-border-black {
    border-color: rgb(0, 0, 0);
}

.is-border-white {
    border-color: rgba(255, 255, 255, 1);
}

.is-outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.is-rounded-sm {
    border-radius: 0.125rem;
}

.is-rounded {
    border-radius: 0.25rem;
}

.is-rounded-md {
    border-radius: 0.375rem;
}

.is-rounded-lg {
    border-radius: 0.5rem;
}

.is-rounded-xl {
    border-radius: 0.75rem;
}

.is-rounded-2xl {
    border-radius: 1rem;
}

.is-rounded-full {
    border-radius: 9999px;
}

.is-rounded-t {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.is-rounded-t-lg {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.is-rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Utilities */
.is-select-none {
    user-select: none;
}

.is-select-all {
    user-select: all;
}

.is-cursor-default {
    cursor: default;
}

.is-cursor-pointer {
    cursor: pointer;
}

.is-cursor-not-allowed {
    cursor: not-allowed;
}

.is-active {
    border-bottom: 0.25rem solid #3b82f6;
}

.is-non-active {
    border-bottom: 0.25rem solid transparent;
}

/* User menu */
.user-menu {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .user-menu > ul {
        display: none;
    }

    .user-menu:hover ul {
        display: block;
        background-color: #fefefe;
        margin: 0;
        padding: 0.5rem 0.5rem;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    }

    .user-menu > ul > li:hover {
        background-color: #D9D9D9;
    }

/* Scrollbar */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 transparent;
}

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        width: 0.3rem;
    }

        /*        *:hover::-webkit-scrollbar {
            width: 0.5rem;
        }*/

        *::-webkit-scrollbar:horizontal {
            height: 0.3rem;
        }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #cccccc;
    }

    *::-webkit-scrollbar-track:hover {
        background-color: #F6F6F6;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #949494;
    }

/* Hover section */
.hover\:is-bg-gray-300:hover {
    background-color: #9ca3af;
}

.hover\:is-bg-blue-600:hover {
    background-color: #2563eb;
}

.hover\:is-text-white:hover {
    color: rgb(255, 255, 255);
}


/* Custom classes for specific uses */

.is-custom-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .is-custom-input-file + label {
        font-size: 1rem;
        font-weight: 500;
        color: black;
        background-color: white;
        display: inline-block;
        cursor: pointer;
        padding: 1rem 3rem;
        outline: 1px dotted #3b82f6;
        outline: -webkit-focus-ring-color auto 1px;
    }

        .is-custom-input-file:focus + label,
        .is-custom-input-file + label:hover {
            background-color: #f0f9ff;
        }

.is-productGallery {
    overflow: auto;
    display: flex;
    width: 50%;
    border: 2px solid red
}

.is-productGallery_thumbnails {
    text-align: center;
    overflow: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    padding-right: 2em;
}

.is-productGallery_thumb {
    position: relative;
    float: left;
    margin-right: 1rem;
}

    .is-productGallery_thumb img {
        margin-bottom: 1rem;
        cursor: pointer;
    }

.is-productGallery_featured {
    float: left;
}

/* Responsive */

@media (max-width: 700px) {
    .is-flex-mx {
        display: flex;
    }
}

@media (max-width: 768px) {
    .is-w-1_2 {
        width: 100%;
    }

    .is-col-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 1600px) {
    .is-px-8-sm {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .is-space-x-7 {
        margin-left: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .is-grid-xl {
        display: grid;
    }

    .is-flex-xl {
        display: flex;
    }

    .is-justify-center-xl {
        justify-content: center;
    }

    .is-flex-col-xl {
        flex-direction: column;
    }

    .is-w-full-xl {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .is-px-xl {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .is-py-xl {
        padding-left: 8rem;
        padding-right: 6rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .is-col-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1025px) and (max-width: 1536px) {
    .is-col-2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1537px) and (max-width: 1920px) {
    .is-col-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1921px) {
    .is-col-2 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
