/*
    INCOM styled in 2022
    Animations
*/

/* Transition section */
.is-transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.is-transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.is-transition-none {
    transition-property: none;
}

/* Duration section */
.is-duration-300 {
    transition-duration: 300ms;
}

.is-duration-500 {
    transition-duration: 500ms;
}

.is-duration-700 {
    transition-duration: 700ms;
    transition-duration: 700ms;
}