<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/basic.master" CodeFile="general.master.cs" Inherits="usuario_simple" %>
<%@ Register Src="~/userControls/header_general.ascx" TagName="headerGen" TagPrefix="uc_header" %>
<%@ Register Src="~/userControls/uc_footerTienda.ascx" TagName="footerGen" TagPrefix="uc_footer" %>

<asp:Content ID="Content2" ContentPlaceHolderID="top" runat="Server">
    <uc_header:headerGen ID="menuPricipal" runat="server"></uc_header:headerGen>
    <asp:ContentPlaceHolder ID="contenido" runat="server" />
    <uc_footer:footerGen ID="footerGeneralTienda" runat="server"></uc_footer:footerGen>
</asp:Content>
