<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- INICIO EF -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="inicio.aspx" />
      </files>
    </defaultDocument>
    <!-- INICIO - Turn on Custom Errors
    <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/error404.aspx" responseMode="Redirect" />
      <error statusCode="500" path="/error500.aspx" responseMode="Redirect" />
    </httpErrors> -->
    <!--  FIN - Turn on Custom Errors -->
    <!-- INICIO - Correciones para SEO -->
    <rewrite>
      <rules>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Default Document" stopProcessing="true">
          <match url="(.*)inicio.aspx" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <!--  FIN - Correciones para SEO -->
    <handlers>cd 
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--  Indica a los navegadores que no deben permitir la lectura de las cookies desde el lado cliente, sólo desde el servidor. -->
    <httpCookies httpOnlyCookies="true" />
    <globalization culture="es-MX" uiCulture="es-MX" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <!-- INICIO - EF -->
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
      <!-- FIN - EF -->
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMAUTH" cookieless="UseCookies" defaultUrl="inicio.aspx" protection="All" timeout="60" loginUrl="iniciar-sesion.aspx" />
      <!-- Tiempo que dura el login-->
    </authentication>
    <sessionState mode="StateServer" cookieless="false" timeout="80" />
  </system.web>
  <!-- Bloqueo de directorios -->
  <location path="usuario/mi-cuenta/pedido-pago-santander-resultado.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="usuario">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <httpRuntime executionTimeout="240" maxRequestLength="20480" enableVersionHeader="false" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="30000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="herramientas">
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2048576" executionTimeout="54000" />
      <pages validateRequest="false" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="blog-admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="logErrores">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="temp">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime executionTimeout="240" maxRequestLength="20480" enableVersionHeader="false" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="30000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="email_templates">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Bloqueo de directorios -->
  <location path="temp2">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--  <add name="tiendaIncom" connectionString="server=.\SQLEXPRESS;database=tiendaIncom;uid=sa;pwd=rpreza29"/>
    <add name="tiendaEntities" connectionString="metadata=res://*/App_Code.tiendaIncom.csdl|res://*/App_Code.tiendaIncom.ssdl|res://*/App_Code.tiendaIncom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=tiendaIncom;user id=sa;password=rpreza29;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
    <add name="mkt_eventos" connectionString="server=148.72.23.160\SQLEXPRESS;database=mkt_eventos;uid=sa;pwd=309253934_Incom!" />
    <add name="tiendaIncom" connectionString="server=.\SQLEXPRESS;database=tienda;uid=Dev01;pwd=Incom#2019" />
    <!-- INICIO EF -->
    <add name="tiendaEntities" connectionString="metadata=res://*/App_Code.tiendaIncom.csdl|res://*/App_Code.tiendaIncom.ssdl|res://*/App_Code.tiendaIncom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=tienda;user id=Dev01;password=Incom#2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- FIN EF -->
  </connectionStrings>
  <!-- Añadido el 20210514 CM -->
  <appSettings>
    <add key="Mode" value="Local" />
    <add key="UrlLocal" value="https://localhost:44392/" />
    <add key="UrlPruebas" value="https://test1.incom.mx" />
    <add key="UrlProductivo" value="https://www.incom.mx" />
    <!-- INICIO - URL SAP -->
    <add key="UrlSapProductivo" value="https://my338095.sapbydesign.com" />
    <add key="UrlSapPruebas" value="https://my357755.sapbydesign.com" />
    <add key="UserRestPruebasSAP" value="_TASK2" />
    <add key="PassRestPruebasSAP" value="Inicial00" />
    <add key="UserRestProductivoSAP" value="CONSULTAS" />
    <add key="PassRestProductivoSAP" value="Specialized2019_" />
    <!-- FIN - URL SAP -->
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>


		<dependentAssembly>
			<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<codeBase version="2.5.5631.0" href="bin\DocumentFormat.OpenXml.2.5.0\DocumentFormat.OpenXml.dll" />
			<codeBase version="2.7.2.0" href="bin\DocumentFormat.OpenXml.dll" />

		</dependentAssembly>
		
			  

      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17"  culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0"   />
			<codeBase version="2.11.3.0"  PublicKeyToken="8fb06cb64d019a17" href="bin\DocumentFormat.OpenXml.2.11.3.0\DocumentFormat.OpenXml.dll" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>